:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-background-color: #f5f4fa;
  --white-text: #ffffff;
  --footer-background-color: #2f303a;
  --footer-contacts-list: rgba(255, 255, 255, 0.6);
  --border-line: #ececec;
  --border-box-portfolio: #eeeeee;
  --border-clients-section: #afb1b8;
  --footer-networks-color: #43444d;
  --offers-position-background: rgba(47, 48, 58, 0.8);
  --feedback-modal-form: rgba(117, 117, 117, 0.5);
  --checkbox-modal-form: #188ce8;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #fff;
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== Шапка сайта ===============*/

.header {
  border-bottom: 1px solid var(--border-line);
}

.header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
}

/*================ Логотип ================*/
.logo {
  margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
}
.logo-accent {
  color: var(--accent-color);
}

/* ==================Навигация=================*/
.site-nav {
  display: flex;
  padding: 0;
  margin: 0;
}

.site-nav .nav-link {
  display: block;
  padding: 32px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.1;
  color: var(--title-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--accent-color);
}

.site-list:not(:last-child) {
  margin-right: 50px;
}

#navigation li a.current-page {
  color: var(--accent-color);
}

.current-page,
.other-page {
  position: relative;
}

.current-page::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.other-page::after {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.other-page:hover::after {
  transform: scaleX(1);
}
/* =================Контакты ================*/
.contacts-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.1;
}

.mail-link,
.tel-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-link:hover,
.tel-link:hover {
  color: var(--accent-color);
}

.icon-envelope,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope:hover,
.icon-phone:hover {
  fill: currentColor;
}

/* ===================Герой ==================*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/backgroundhero.jpg);
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text);
}

.hero-button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  border-style: none;
  text-align: center;
  color: var(--white-text);
  background-color: var(--accent-color);
}

/* ================Секции============== */
.section-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.section {
  padding: 94px 0;
}
/* ================Особенности ================*/

.features-section {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.features-list {
  display: flex;
  margin: 0;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item > svg {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--second-background-color);
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-inf {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ====================Чем мы занимаемся ===============*/

.offers-title,
.our-team-title {
  margin-bottom: 50px;
}

.section-examples {
  margin: 0;
  padding: 0;
  display: flex;
}

.offer-list:not(:last-child) {
  margin-right: 30px;
}

.offer-position {
  position: relative;
}

.offer-position-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 27px 82px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: var(--offers-position-background);
}

/* ===================Наша команда=================== */
.team-section {
  background-color: var(--second-background-color);
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.our-team-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text);
}

.our-team-list:not(:last-child) {
  margin-right: 30px;
}

.team-block {
  margin: 0;
  padding: 30px 0;
}

.team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-positions {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-networks {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover {
  cursor: pointer;
  background-color: var(--accent-color);
}

.icons-team-networks {
  fill: var(--border-clients-section);
}

.icons-team-networks:hover {
  fill: var(--white-text);
}

/* ====================Постоянные клиенты================ */

.clients-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  cursor: pointer;
  padding: 16px 32px;
  border: 1px solid var(--border-clients-section);
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  background-color: var(--white-text);
  border-color: var(--accent-color);
}

.clients-link:hover > svg,
.clients-link:focus > svg {
  fill: var(--accent-color);
}

.icons-client-company {
  fill: var(--border-clients-section);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-client-company:hover {
  fill: var(--accent-color);
}

/* ====================Футер==================== */
.footer {
  padding: 60px 0;
  background-color: var(--footer-background-color);
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.dark-section {
  display: inline-block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  text-decoration: none;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.2;
  color: var(--white-text);
}
.dark-logo {
  color: var(--accent-color);
}
/*====================Адрес==================== */
.address-section {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.address-list {
  margin: 0;
  padding: 0;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map {
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-text);
}
.address-mail {
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-contacts-list);
}
.address-tel {
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-contacts-list);
}

.footer-social-networks {
  margin-left: 70px;
}

.title-join {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text);
}

.footer-networks {
  color: var(--white-text);
  background-color: var(--footer-networks-color);
}

.icons-footer-networks {
  fill: var(--white-text);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-networks:hover {
  fill: var(--white-text);
}

.title-form {
  margin-left: 93px;
  margin-bottom: 20px;
}

.form-field {
  margin-left: 93px;
}

.input-form {
  width: 358px;
  padding: 15px 0 15px 16px;
  margin-right: 12px;
  background-color: var(--footer-background-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.input-form input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--footer-contacts-list);
}

.button-submit {
  position: relative;
  width: 200px;
  height: 50px;
  padding-right: 29px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-text);
}

.icon-form-footer {
  position: absolute;
  margin-left: 10px;
  margin-top: 3px;
}

/* ====================Портфолио=================== */

/*==================== Фильтр====================== */

.portfolio-button-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  margin-right: 8px;
  border-radius: 4px;
  border-style: none;
  line-height: 38px;
  padding: 6px 22px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-background-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#filter li a.current-button {
  color: var(--accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*==================== Проекты==================== */
.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.portfolio-items {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--white-text);
  border: 1px solid var(--border-box-portfolio);
}

.portfolio-link {
  display: inline-block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-items:nth-child(3n) {
  margin-right: 0;
}

.portfolio-wrapper {
  padding: 20px 24px 20px 24px;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.overlay-cards {
  position: relative;
}

.overlay-cards::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay-cards::before {
  opacity: 1;
  transform: translateY(0);
}

.overlay-cards-text {
  position: absolute;
  top: 0%;
  margin: 0;
  padding: 63px 24px;
  opacity: 0;

  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.overlay-cards-text:hover {
  opacity: 1;
}
/* ==================Модальное окно==================*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.ishidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--white-text);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;

  cursor: pointer;
  border-radius: 50%;
  background-color: var(--white-text);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  fill: var(--accent-color);
}

.modal-title {
  margin: 0;
  padding: 40px 40px 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.form-modal:not(:last-child) {
  margin-bottom: 10px;
}

.form-modal input {
  margin: 0;
  padding: 11px 42px;
}

.form-modal:hover,
.form-modal:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.form-group {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  padding-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-modal-input {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:hover,
.form-modal-input:focus {
  border-color: var(--accent-color);
}

.icon-inside-forms {
  position: absolute;
  display: inline-block;
  transform: translateY(165%);
  left: 10%;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

.feedback {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback:hover {
  border-color: var(--accent-color);
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--feedback-modal-form);
}

.form-checkbox {
  display: flex;
  flex-direction: column;
}

.label-checkbox {
  position: relative;
  left: 2.5%;
  text-align: center;
  margin-top: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.checkbox-input {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1%;
  bottom: 5px;
}

.checkbox-input:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/iconcheck.svg);
  background-size: contain;
}

.checkbox-icon {
  display: inline-block;
  position: absolute;
  left: 1px;
  top: 4px;
  width: 16px;
  height: 16px;

  border: 2px solid black;
  border-radius: 3px;
}

.checkbox-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-color);
}

.form-modal-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 10px 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-style: none;
  cursor: pointer;
  color: var(--white-text);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-button:hover,
.form-modal-button:focus {
  background: var(--checkbox-modal-form);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
